@import "tailwindcss";

@theme {
  --color-primary: #1C3F29;
  --color-secondary: #B84C41;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
